@model BusinessProcessManagementSampleProject.Models.Project.ProjectDetailViewModel
@{
    ViewData["Title"] = "Detail";
}


<div class="bg-white w-100 shadow p-3">
    <div class="col-12">
        <div class="rosettaGuideTxt">
            @if (TempData["successCreateOrEdit"] != null)
            {
                if ((bool)TempData["successCreateOrEdit"] == true)
                {
                    <p class="alert alert-success">@TempData["messageCreateOrEdit"]</p>
                }
                else
                {
                    <p class="alert alert-danger">@TempData["messageCreateOrEdit"]</p>
                }

            }
        </div>
    </div>
    <h3 class="text-center">@Model.Project.Title</h3>
    <div class="form-group">
        <label type="text" class="form-control" id="inputTitle" hidden>@Model.Project.Id</label>
        @Html.HiddenFor(m => m.Project.Id, new { id = "projectId" })

    </div>
    <div class="form-group">
        <label for="inputUserName" class="font-weight-bold">Açıklama</label>
        <label type="text" class="form-control" id="inputTitle">@Model.Project.Description</label>

        <label for="inputUserName" class="font-weight-bold">Başlangıç Tarihi</label>
        <label type="text" class="form-control" id="inputTitle">@Model.Project.StartDate.ToString("dd MMMM yyyy")</label>

        <label for="inputUserName" class="font-weight-bold">Bitiş Tarihi</label>
        <label type="text" class="form-control" id="inputTitle">@Model.Project.EndDate.ToString("dd MMMM yyyy")</label>

        <label for="inputUserName" class="font-weight-bold">Durumu</label>
        <label type="text" class="form-control" id="inputTitle">@Model.Project.ProjectStatusString</label>

        <label for="inputUserName" class="font-weight-bold">Proje Hocası</label>
        <label type="text" class="form-control" id="inputTitle">@Model.Project.Manager.FirstName</label>

        <label for="inputUserName" class="font-weight-bold">Proje Linki</label>
        <label type="text" class="form-control" id="inputTitle"><a href="@Model.Project.FilePath" target="_blank">Tıklayınız...</a></label>
    </div>

    <div class="row">
        <div class="col-md-12 rosetteLinkList">
            <div data-tab-id="tab1" class="col-md-4"><a class="font-weight-bold">Öğrenciler</a></div>
            <div data-tab-id="tab2" class="col-md-4"><a class="font-weight-bold">Görevler</a></div>
            <div data-tab-id="tab3" class="col-md-4"><a class="font-weight-bold">İstatiskler</a></div>
            <br />
            <br />
            <br />
            <br />
            <button type="button" onclick="sendApprove()" class="btn btn-success col-md-12"><h3>Tamamla</h3></button>
            <button type="submit" id="cancel" onclick="cancelMission(@Model.Project.Id)" class="btn btn-success col-md-12"><h3>İptal Et</h3></button>
        </div>
    </div>
    <div>
        <div class="row" data-id="tab1" id="tab1div">
            @await Component.InvokeAsync("MembersListForDetail", new { projectId = Model.Project.Id })
        </div>
        <div class="row" data-id="tab2" id="tab2div">
            @await Component.InvokeAsync("MissionListForDetail", new { projectId = Model.Project.Id })
        </div>
        <div class="row" data-id="tab3" id="tab3div">
            <label class="control-label"></label>
            <select id="memberSelectList" asp-items="ViewBag.StudentList" class="form-control"></select>
            <div class="row col-lg-12">
                <div class="col-lg-6">
                    <div id="chartdiv" style="width:600px; height:400px"> </div>
                </div>
                <div id="stats" class="col-lg-6">
                    <label for="inputUserName" class="font-weight-bold">Toplam Görev</label>
                    <label type="text" class="form-control" id="totalMission"></label>

                    <label for="inputUserName" class="font-weight-bold">Aktif Görev</label>
                    <label type="text" class="form-control" id="activeMission"></label>

                    <label for="inputUserName" class="font-weight-bold">İptal Olan Görev</label>
                    <label type="text" class="form-control" id="cancelMission"></label>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    $(document).ready(function () {
        $("div [data-id]").hide();
        console.log("sas");

        $("#stats").hide();
    });

     var routeUrl = {
        GetChart: '@Url.Action("MissionChart", "Chart")'
    }

    $(".rosetteLinkList div").click(function (e) {
        $("div [data-id]").hide(); // Hides all the elements with attribute data-id
        $("div [data-id='" + $(this).attr('data-tab-id') + "']").show();
        e.preventDefault();
    })

        function PagerClick(projectId,index) {
        $.ajax({
        type: "POST",
        url: '@Url.Action("GetMembersListForDetail", "Project")',
            data: { projectId: projectId, page: index },
    }).done(function (data) {
        $('#tab1div').html(data);
    });
    }
            function PagerClick1(projectId,index) {
        $.ajax({
        type: "POST",
        url: '@Url.Action("GetMissionsListForDetail", "Project")',
            data: { projectId: projectId, page: index },
    }).done(function (data) {
        $('#tab2div').html(data);
    });
    }

            function PagerClick2(index) {
        $.ajax({
        type: "POST",
        url: '@Url.Action("GetMyViewComponent", "Project")',
        data: { projectId:1, page: index },
    }).done(function (data) {
        $('#tab1div').html(data);
    });
    }

    function sendApprove() {
        var projectID = document.getElementById('projectId').value


        $.ajax({
            type: "POST",
            url: '@Url.Action("CompleteProject", "Project")',
            data: { projectId: projectID, },
        }).done(function (data) {
            console.log("başarılı")
            location.reload();
        });
    };

    function cancelMission(Id) {

        if (confirm("İptal etmek istediğinize emin misini?")) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Project")',
            data: { id: Id, },
        }).done(function (data) {
            console.log("başarılı")
            window.location.reload();

        });


        }
    }


    $('#memberSelectList').on("change", function () {

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(DrawonLoad);


    });

    function DrawonLoad() {

        var request = {
            id: $('#memberSelectList').val(),
            projectID :document.getElementById('projectId').value
        };

        if ($('#memberSelectList').val() != "") {

            $.ajax({
                type: "POST",
                url: routeUrl.GetChart,
                data: request,
                success: successFunc,
                error: errorFunc
            });
            function successFunc(chartsdata) {
                var Data = chartsdata.jsonlist;
                var data = new google.visualization.DataTable();
                console.log(Data);

                data.addColumn("string", "statu");
                data.addColumn("number", "count");

                for (var i = 0; i < 5; i++) {
                    data.addRow([Data[i].statu, Data[i].count]);
                    console.log(i)
                }
                console.log(data);
                var chart = new google.visualization.PieChart(document.getElementById('chartdiv'));
                chart.draw(data,
                    {
                        title: "Görev İstatistik",
                        position: "top",
                        fontsize: "16px"
                    });
                document.getElementById('totalMission').innerHTML = chartsdata.totalCount;
                document.getElementById('activeMission').innerHTML = chartsdata.activecount;
                document.getElementById('cancelMission').innerHTML = chartsdata.cancelCount;

                $("#stats").show();
            }
            function errorFunc(err) {
                console.log(err);
            }

        }
    }
</script>