@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PagedList.Core.Mvc

@model BusinessProcessManagementSampleProject.Models.Project.ListProjectRequestViewModel
@{
    ViewData["Title"] = "GetProjectRequests";
}

<h3>Proje Talepleri</h3>


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Öğrenci İsmi</th>
            <th scope="col">Öğrenci No</th>
            <th scope="col">Proje İsmi</th>
            <th scope="col">Durum</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var project in Model.ProjectRequest)
            {
                <tr>
                    <td>@project.FullName</td>
                    <td>@project.StudentNo</td>
                    <td>@project.ProjectTitle</td>
                    <td>@project.ProjectRequestStatusString</td>
                    @if (project.ProjectRequestStatus == EntityLayer.Enums.ProjectRequestStatus.Waiting){
                    <td>
                        <input type="submit" value="Kabul Et" onclick="acceptMember(@project.ProjecId,@project.MemberId)" />
                        <input type="submit" value="Red Et" onclick="DeniedMember(@project.ProjecId,@project.MemberId)" />
                    </td>
                    }else{
                    <td>

                    </td>
                    }

                </tr>
            }
        }
    </tbody>
</table>
<div class="float-right">
    <pager class="pager-container" options="@PagedList.Core.Mvc.PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" list="@Model.ProjectRequest" action="@Url.Action("GetProjectRequests")" />
</div>

<script type="text/javascript">

    function acceptMember(projectID,memberID) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("ApproveProjectMember", "Project")',
            data: { projectId: projectID, memberId: memberID },
        }).done(function (data) {
            console.log("başarılı")
            window.location.reload()
        });
    };


    function DeniedMember(projectID,memberID) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeniedrojectMember", "Project")',
            data: { projectId: projectID, memberId: memberID },
        }).done(function (data) {
            console.log("başarılı")
            window.location.reload()
        });
    };
</script>