@model BusinessProcessManagementSampleProject.Models.UserLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Giriş Yap</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <link href="~/css/Login.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <div class="logo"></div>
        <div class="login-block fa-align-center">Kocaeli Üniversitesi İş Yönetim Sistemi</div>
        <div class="login-block">
            <h1>Login</h1>
            @Html.ValidationMessageFor(a => a.UserName,null, new { @class = "text-danger" })
            @Html.TextBoxFor(a => a.UserName, new { placeholder = "Kullanıcı Adı" })
            @Html.ValidationMessageFor(a => a.Password, null, new { @class = "text-danger" })
            @Html.PasswordFor(a => a.Password, new { @class = "form-control", placeholder = "Şifre" })

            <button value="Login" type="submit">Giriş Yap</button>

            @Html.ValidationSummary(true,"",new { @class="text-danger" })
        </div>

    }
</body>

</html>
