

@model WebUI.Views.Project.List.ListProjectMemberViewModel

<link href="~/css/site.css" rel="stylesheet" />
@if ((Model.Members?.Count() ?? 0) <= 0)
{
    <ul>
        <li>Aradığınız kriterlere göre kullanıcı bulunmamaktadır.</li>
    </ul>
}
<div>
    @if (Model.ActionResponse?.ActionType != null)
    {
        <p class="alert-info">@Model.ActionResponse.ActionMessage</p>
    }
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Adı Soyadı</th>
                <th scope="col">Öğrenci No</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var member in Model.Members)
                {
                    <tr>
                        <td>@member.UserFullName</td>
                        <td>@member.StudentNo</td>
                    </tr>
                }
            }
        </tbody>
        @Model.CurrentPageIndex. Sayfadasınız
    </table>

    <ul class="pagination float-right">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li>
                @if (i != Model.CurrentPageIndex)
                {
                    <a href="javascript:PagerClick(@Model.ProjectId,@i);">@i</a>
                }
                else
                {
                    <a class="active"><span>@i</span></a>
                }
            </li>
        }
    </ul>
</div>
<input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
