@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PagedList.Core.Mvc
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebUI.Models.Mission.ListMissionViewModel


@if ((Model.Missions?.Count() ?? 0) <= 0)
{
    <ul>
        <li>Aradığınız kriterlere göre Görev bulunmamaktadır.</li>
    </ul>

}
else
{
    <div>
        @if (Model.ActionResponse?.ActionType != null)
        {
            <p class="alert-info">@Model.ActionResponse.ActionMessage</p>
        }
    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Başlık</th>
                    <th scope="col">Başlangıç Tarihi</th>
                    <th scope="col">Bitiş Tarihi</th>
                    <th scope="col">Durumu</th>
                    <th scope="col">Görev Hocası</th>
                    <th scope="col">         </th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var mission in Model.Missions)
                    {
                        <tr>
                            <td>@mission.Title</td>
                            <td>@mission.StartDate.ToString("dd MMM yyyy")</td>
                            <td>@mission.EndDate.ToString("dd MMM yyyy")</td>
                            <td>@mission.MissionStatusString</td>
                            <td>@mission.ManagerName</td>

                            <th>
                                <input type="submit" value="Detay" onclick="location.href='@Url.Action("Detail", "Mission", new { missionId=mission.Id })'" />
                            </th>
                              
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="float-right">
        <pager class="pager-container" options="@PagedList.Core.Mvc.PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" list="@Model.Missions" action="@Url.Action("Index")" />
    </div>
}

<button type="submit" class="btn btn-success w-100" onclick="location.href='@Url.Action("CreateProjectRequest","Project")'"><h3>Yeni Proje Talep Et</h3></button>
